{% render_form serializer %}
{% for field in login_form %}
  <div class="form-field">
    {{ field.errors }}
    {% if field.html_name != 'remember' %}
      {{ field.label_tag }}
      {{ field|add_class:"form-control" }}
    {% endif %}
    {% if field.html_name == 'remember' %}
      {{ field|add_class:"form-control filled-in" }}
      <label for="id_remember">Remember Me</label>
    {% endif %}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
{% endfor %}
{% if redirect_field_value %}
<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}



<!-- Sign Up Modal -->
		<div id="sign_up_modal" class="modal sign-in-modal">
			<div class="modal-content">
				<h4>Sign Up</h4>
					{% get_providers as socialaccount_providers %}
					<ul class="socialaccount_providers">
						{% include "socialaccount/snippets/provider_list.html" with process="login" %}
					</ul>
					<h5>- Or -</h5>
					<form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
						{% csrf_token %}
						{% for field in signup_form %}
							<div class="form-field">
								{{ field.errors }}
								{{ field.label_tag }}
								{% if field.html_name != 'remember' %}
									{{ field|add_class:"form-control" }}
								{% else %}
									{{ field }}
								{% endif %}
								{% if field.help_text %}
									<p class="help">{{ field.help_text|safe }}</p>
								{% endif %}
							</div>
						{% endfor %}
						{% if redirect_field_value %}
							<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
						{% endif %}
						<button type="submit" class="btn btn-default navbar-btn">Sign Up</button>
					</form>
			</div>
		</div>





		{% load static %}
		{% load compress %}
		{% load widget_tweaks %}
		{% load socialaccount %}
		{% load rest_framework %}
		<script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
		<script src="{% static 'materialize/js/bin/materialize.min.js' %}"></script>
		<script src="{% static 'js/base.js' %}"></script>
		<script src="{% static 'accounts.js' %}"></script>
		{% compress css %}
			<link rel="stylesheet" type="text/x-scss" href="{% static 'sass/base.scss' %}" />
			<link rel="stylesheet" type="text/x-scss" href="{% static 'materialize/sass/materialize.scss' %}" />
		{% endcompress %}
		<html>
		<head>
			<title>{% block title %}{% endblock %}</title>
		</head>
		<body>
		<header>
			<nav>
				<div class="nav-wrapper">
					<a href="#" class="brand-logo">
						{% if request.user.first_name or request.user.last_name %}
							{{ request.user.first_name }} {{ request.user.last_name }}
						{% elif request.user.username %}
							{{ request.user.username }}
						{% endif %}
					</a>
					<ul id="nav-mobile" class="right">
						{% if request.user.is_authenticated %}
							<form method="POST" action="{% url 'account_logout' %}">
								{% csrf_token %}
								<li>
									<button type="submit" class="btn waves-effect waves-light">
										Log Out
									</button>
								</li>
							</form>
						{% else %}
							<li>
								<a class="btn waves-effect waves-light modal-trigger" href="#log_in_modal">
									Log In
								</a>
							</li>
							<li>
								<a class="btn waves-effect waves-light modal-trigger" href="#register_modal">
									Register
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</nav>
		</header>
		<div class="container">
			<p>Logo Here!</p>
			{% block content %}{% endblock %}
			<footer>footer</footer>

			<!-- Register Modal -->
			<div id="register_modal" class="modal register-modal">
				<div class="modal-content">
					<h4>Register</h4>
						{% get_providers as socialaccount_providers %}
						<ul class="socialaccount_providers">
							{% include "socialaccount/snippets/provider_list.html" with process="login" %}
						</ul>
						<h5>- Or -</h5>
						<form class="register" id="register_form" data-url="{% url 'accounts-api:register' %}">
							{% csrf_token %}
							{% render_form register_serializer %}
							{% comment %} {% for field in register_form %}
								<div class="row">
									<div class="input-field col s12">
										{{ field.errors }}
										{{ field|add_class:'validate' }}
										<label for="{{ field.id_for_label }}" data-error="{{ field.help_text }}">
											{{ field.label }}
										</label>
									</div>
								</div>
							{% endfor %} {% endcomment %}
							<button type="submit" class="btn btn-default navbar-btn">Register</button>
						</form>
				</div>
			</div>

			<!-- Log In Modal -->
			<div id="log_in_modal" class="modal log-in-modal">
				<div class="modal-content">
					<h4>Log In</h4>
						{% get_providers as socialaccount_providers %}
						<ul class="socialaccount_providers">
							{% include "socialaccount/snippets/provider_list.html" with process="login" %}
						</ul>
						<h5>- Or -</h5>
						<form class="login" method="POST" action="{% url 'accounts-api:login' %}">
							{% csrf_token %}
							{{ login_form.as_p }}
							<button type="submit" class="btn btn-default navbar-btn">Login</button>
						</form>
				</div>
			</div>


		</div>
		</body>
		</html>