// Remove Focus Boxes
select:focus {
  outline: $select-focus;
}

button:focus {
  outline: none;
  background-color: $button-background-focus;
}

label {
  font-size: $label-font-size;
  color: $input-border-color;
}

// Custom
.form_error {
  display: block;
  font-size: $input-font-size;
  color: $input-error-color;
  margin-bottom: $input-margin-bottom
}

// Custom
.field-row {
  @media #{$medium-and-down} {
    margin-bottom: 0;
  }
}



@import 'input-fields';
@import 'radio-buttons';
@import 'checkboxes';
@import 'switches';
@import 'select';
@import 'file-input';
@import 'range';
