.material-tooltip {
  padding: 10px 8px;
  font-size: 1rem;
  z-index: 2000;
  background-color: transparent;
  border-radius: 2px;
  // color: #fff; // Original
  color: #323232; // Custom
  min-height: 36px;
  line-height: 120%;
  opacity: 0;
  position: absolute;
  // text-align: center; // Original
  text-align: left; // Custom
  // max-width: calc(100% - 4px); // Original
  max-width: 200px; // Custom
  overflow: hidden;
  left: 0;
  top: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  position: absolute;
  opacity: 0;
  height: 7px;
  width: 14px;
  border-radius: 0 0 50% 50%;
  // background-color: #323232; // Original
  background-color: #fff; // Custom
  z-index: -1;
  transform-origin: 50% 0%;
  visibility: hidden;
}
