{% load static %}
{% load compress %}
{% load widget_tweaks %}
{% load socialaccount %}
<script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'materialize/js/bin/materialize.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'accounts.js' %}"></script>

{% block static_files %}{% endblock %}

{% compress css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static 'sass/base.scss' %}" />
	<link rel="stylesheet" type="text/x-scss" href="{% static 'materialize/sass/materialize.scss' %}" />
{% endcompress %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
	<nav class="nav-extended">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">
				TorqNoodle
			</a>
			<a href="#" data-activates="mobile-side-nav" class="button-collapse">
				<i class="material-icons">menu</i>
			</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				{% if request.user.is_authenticated %}
					<li>
						<a class="btn waves-effect waves-light" href="{% url 'logout' %}">
							Log Out
						</a>
					</li>
				{% else %}
					<li>
						<a class="btn waves-effect waves-light modal-trigger" href="#log_in_modal">
							Log In
						</a>
					</li>
					<li>
						<a class="btn waves-effect waves-light modal-trigger" href="#register_modal">
							Register
						</a>
					</li>
				{% endif %}
			</ul>
			<ul id="mobile-side-nav" class="side-nav">
				{% if request.user.is_authenticated %}
					<li>
						<div class="user-view">
							<div class="background">
							</div>
							<span class="white-text name">
								{{ request.user.username }}
							</span>
							<span class="white-text email">
								{{ request.user.email }}
							</span>
						</div>
					</li>
					<li>
						<a class="btn waves-effect waves-light" href="{% url 'logout' %}">
							Log Out
						</a>
					</li>
				{% else %}
					<li>
						<a class="btn waves-effect waves-light modal-trigger" href="#log_in_modal">
							Log In
						</a>
					</li>
					<li>
						<a class="btn waves-effect waves-light modal-trigger" href="#register_modal">
							Register
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
		<div class="nav-content">
			{% block tabs %}{% endblock %}
		</div>
	</nav>
</header>
<div class="container">
	{% block tab_content %}{% endblock %}

	<!-- Register Modal -->
	<div id="register_modal" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<a class="btn-floating btn waves-effect waves-light modal-close">
					<i class="material-icons">arrow_back</i>
				</a>
				<h4 >Register</h4>
			</div>
			{% get_providers as socialaccount_providers %}
			<ul class="socialaccount_providers">
				{% include "socialaccount/snippets/provider_list.html" with process="login" %}
			</ul>
			<h5>- Or -</h5>
			<form class="register" id="register_form" data-url="{% url 'register' %}">
				{% csrf_token %}
				{% for field in register_form %}
					<div class="row field-row">
						<div class="input-field col s12">
							{% render_field field class+='tooltipped validate' data-tooltip=field.help_text %}
							<label for="{{ field.id_for_label }}" data-error="">
								{{ field.label }}
							</label>
						</div>
					</div>
				{% endfor %}
				<button type="submit" class="waves-effect waves-light btn">Register</button>
			</form>
		</div>
	</div>

	<!-- Log In Modal -->
	<div id="log_in_modal" class="modal">
		<div class="modal-content">
			<div class="modal-header">
				<a class="btn-floating btn waves-effect waves-light modal-close">
					<i class="material-icons">arrow_back</i>
				</a>
				<h4 >Log In</h4>
			</div>
			{% get_providers as socialaccount_providers %}
			<ul class="socialaccount_providers">
				{% include "socialaccount/snippets/provider_list.html" with process="login" %}
			</ul>
			<h5>- Or -</h5>
			<form class="login" id="login_form" method="POST" action="{% url 'login' %}">
				{% csrf_token %}
				{% for field in login_form %}
					<div class="row field-row">
						<div class="input-field col s12">
							{% render_field field class+='validate' %}
							<label for="{{ field.id_for_label }}" data-error="">
								{{ field.label }}
							</label>
						</div>
					</div>
				{% endfor %}
				<label id="login_form_error" class="form_error"></label>
				<button type="submit" class="waves-effect waves-light btn">Login</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>