{% extends "base.html" %}

{% block title %}Courses{% endblock %}

{% block tab_content %}

{% if courses %}
<ul>
  {% for course in courses %}
  <li>
    <a href="{% url 'videos:list' course=course.slug %}">{{ course.name }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No Courses Available.</p>
{% endif %}

{% endblock %}