{% extends "base.html" %}

{% load static %}

{% block static_files %}
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="{% static 'videos.js' %}"></script>
{% endblock %}

{% block title %}Chapters/Videos/Quizzes{% endblock %}

{% block tabs %}
<ul class="tabs tabs-transparent">
  <li class="tab"><a href="#videos">Watch</a></li>
  <li class="tab"><a href="#articles">Read</a></li>
  <li class="tab"><a href="#questions">Ask</a></li>
</ul>
{% endblock %}

{% block tab_content %}

<div id="videos" class="col s12">
  {% if chapters %}
  <ul>
    {% for chapter in chapters %}
      <li>
        <div class="col s12">
          <h4 class="header">{{ chapter.name }}</h4>
          {% if chapter.get_videos %}
            {% for video in chapter.get_videos %}
              <div class="card horizontal modal-trigger video-card" id="{{ video.get_vimeo_id }}" href="#video_modal_{{ video.id }}">
                <div class="card-image">
                  <img>
                </div>
                <div class="card-stacked">
                  <div class="card-content">
                    <span class="card-title">{{ vid.info.title }}</span>
                    <p>{{ vid.info.description }}</p>
                  </div>
                </div>
              </div>
              <div id="video_modal_{{ video.id }}" class="modal">
                <div class="modal-content" data-vimeo-url="{{ video.url }}">
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p>No videos for this chapter</p>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No Chapters Available.</p>
  {% endif %}
</div>

<div id="articles" class="col s12">
  <p>Articles</p>
</div>

<div id="questions" class="col s12">
  <p>Questions</p>
</div>

{% endblock %}